<head><link rel="stylesheet" type="text/css" href="comments.css.scss"></head>
<h1>Carolina Panthers Comments page</h1>

<img src= "https://fbexternal-a.akamaihd.net/safe_image.php?d=AQADwlK2ntHbKoq_&w=368&h=200&url=http%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fen%2Fthumb%2F7%2F7a%2FCarolina_Panthers_logo_2012.svg%2F720px-Carolina_Panthers_logo_2012.svg.png">

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th>Post</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.body %></td>
        <td><%= comment.post_id %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
